version: '3.8'

services:
  app:
    build:
      context: .
    container_name: app
    volumes:
      - .:/var/www/html
    expose:
      - "9000"
  
  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - .:/var/www/html
      - ./.docker/nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - app
